*{
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

body{
	background: #eee;
	position: relative;
	margin: 50px;
}

.item{
	margin: 10px 0;
}

form input[type="text"].active{
	box-shadow: 0 0 0 5px #ff0;
}

