*{
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}


.block{
	width: 100%;
	max-width: 800px;
	margin: 30px auto;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(0,0,0,.09), 0 0 0 1px rgba(0,0,0,.09)
}

.question{
	background: #eee;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px 0;
}

.answer{
	display: none;
	padding: 5px;
    text-align: justify;
}

.open{
	display: block;
}



